<ion-content>
    <div class="MainImage">

        <ion-buttons slot="start">
          <ion-back-button defaultHref="home" class="ReturnIconBlock">
            <ion-img src="../../assets/icon/left-arrow.png" class="ReturnIcon"></ion-img>
          </ion-back-button>
        </ion-buttons>
        
        <div class="TitleInMainImage">Fin des ydays</div>
        <div class="DateInMainImage">30 Fevrier, 2022</div>
        <div class="HoureInMainImage">18h30 - 00h30</div>

    </div>
    <div class="OverviewTitle">Description</div>
    <div class="Overview">Viens te fummer la gueule après les Ydays avec un max d’alcool. Début à 18h30 le dernier debout gagne</div>
    <div class="MapPhoto"></div>
    <div class="ParticipantTitle">Participants : </div>
    <div class="ParticipantN1"></div>
    <div class="ParticipantN2"></div>
    <div class="ParticipantN3"></div>
    <div class="ParticipantN4"></div>
    <div class="ParticipantTotal">
      <div class="TextInParticipantTotal">
        + 20
      </div>
    </div>
    <ion-back-button defaultHref="home" color="unset" fill="clear" icon="none" text="Je participe" style="padding-right: 7%;" class="ButtonBuy">
      <div class="TextButtonBuy">Je participe</div>
    </ion-back-button>
</ion-content>
